## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [17]:
####Esta código no sirve porque no genera números únicos. 

#sample_list_1=[]

#for i in range(80):
 #   sample_list_1.append(random.randint(0,100))
#print(sample_list_1)

In [18]:
#sintaxis: random.sample(population, k, *, counts=None)
#sample_list_2 = random.sample (range(0,100),10,counts=[4, 2])
#sample_list_2

In [9]:
sample_list_1 = random.sample(range(0,101), 80) 
#el segundo argumento marca el número de elementos
print (sample_list_1)

[15, 51, 90, 11, 96, 94, 99, 43, 40, 66, 76, 54, 28, 36, 57, 73, 82, 88, 38, 47, 87, 29, 33, 0, 26, 41, 23, 71, 39, 18, 69, 22, 37, 35, 98, 86, 2, 93, 24, 74, 21, 52, 44, 55, 62, 16, 17, 14, 20, 32, 67, 83, 78, 25, 34, 50, 80, 49, 85, 4, 100, 19, 7, 70, 75, 72, 59, 79, 58, 89, 10, 64, 13, 84, 46, 9, 45, 6, 48, 27]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
set1=set(sample_list_1)
print(len(sample_list_1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[72, 31, 11, 43, 32, 67, 32, 14, 57, 66, 43, 18, 57, 71, 30, 70, 79, 50, 62, 57, 72, 92, 5, 72, 7, 23, 68, 31, 73, 79, 65, 7, 48, 18, 53, 42, 59, 8, 19, 25, 3, 27, 16, 9, 37, 81, 65, 98, 59, 92, 21, 29, 46, 21, 100, 47, 87, 34, 4, 3, 37, 42, 55, 52, 81, 77, 35, 94, 92, 21, 62, 22, 97, 70, 27, 52, 86, 62, 21, 74]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [12]:
set2=set(sample_list_2)
print(len(sample_list_2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
set3=set1.difference(set2) #en set1 pero NO set2
print(set3)

{0, 2, 6, 10, 13, 15, 17, 20, 24, 26, 28, 33, 36, 38, 39, 40, 41, 44, 45, 49, 51, 54, 58, 64, 69, 75, 76, 78, 80, 82, 83, 84, 85, 88, 89, 90, 93, 96, 99}

In [14]:
#mismos resultados
set3=set1-set2 
print(set3)

{0, 2, 6, 10, 13, 15, 17, 20, 24, 26, 28, 33, 36, 38, 39, 40, 41, 44, 45, 49, 51, 54, 58, 64, 69, 75, 76, 78, 80, 82, 83, 84, 85, 88, 89, 90, 93, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
set4=set2-set1 
print(set4)

{65, 97, 3, 68, 5, 8, 42, 77, 81, 53, 92, 30, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [17]:
set5= set1 & set2
print(set5)
#https://j2logo.com/python/tutorial/tipo-set-python/

{4, 7, 9, 11, 14, 16, 18, 19, 21, 22, 23, 25, 27, 29, 32, 34, 35, 37, 43, 46, 47, 48, 50, 52, 55, 57, 59, 62, 66, 67, 70, 71, 72, 73, 74, 79, 86, 87, 94, 98, 100}

In [20]:
set5= set1.intersection (set2)
print(set5)

{4, 7, 9, 11, 14, 16, 18, 19, 21, 22, 23, 25, 27, 29, 32, 34, 35, 37, 43, 46, 47, 48, 50, 52, 55, 57, 59, 62, 66, 67, 70, 71, 72, 73, 74, 79, 86, 87, 94, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [32]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
57
36
13
44

In [40]:
print(set1==set5.union(set3))
print(set2==set5.union(set4))

True
True

In [43]:
print("la suma de los set 3 y 5 es:", len(set3) + len(set5), ", que es igual al set 1 (",len(set1), ")")
print("la suma de los set 4 y 5 es:", len(set4) + len(set5), ", que es igual al set 2 (",len(set2), ")")

la suma de los set 3 y 5 es: 80 , que es igual al set 1 ( 80 )
la suma de los set 4 y 5 es: 57 , que es igual al set 2 ( 57 )

#### Create an empty set called `set6`.

In [12]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
set6.update(set3,set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 54, 55, 57, 60, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [14]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [15]:
set2.issubset(set1) 
#significado literal: set2 es contenido en el set1
#issubset() returns True if all items in the set exists in the specified set, 
#otherwise it retuns False.

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [16]:
union=set3.union(set4,set5)
print(union)

#The union() method returns a set that contains all items from the original set, 
#and all items from the specified set(s).
#It does not have to be a set, it can be any iterable object.
#If an item is present in more than one set, the result will contain 
#only one appearance of this item.

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [17]:
union = union, set1, set2 #imagino que si dice aggregate no se refiere a que sea unión también.
print(union)

({0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}, {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 54, 55, 57, 60, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}, {0, 1, 6, 11, 12, 15, 16, 18, 20, 21, 23, 24, 25, 26, 31, 32, 33, 34, 37, 39, 41, 43, 44, 47, 50, 51, 52, 59, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 93, 97, 98, 99, 100})

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
set1.pop() #elimina de manera aleatoria, cómo especifíco?

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [57]:
sobrevivientes=[]


for i in set1:
    if i not in list_to_remove:
        sobrevivientes.append(i)

        
print ("Set1:", set1)

print ("List_to_remove:", list_to_remove)
print ("Sobrevivientes:", sobrevivientes)

Set1: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 61, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 95, 96, 97, 99}
List_to_remove: [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
Sobrevivientes: [0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 52, 53, 54, 55, 56, 57, 58, 63, 64, 66, 67, 70, 72, 73, 74, 76, 77, 80, 83, 85, 87, 88, 92, 93, 95, 96, 97]